#                                                                 
#            ▀      ▄                           ▄▀▀    ▀          
#    ▄▄▄▄  ▄▄▄    ▄▄█▄▄   ▄▄▄    ▄▄▄   ▄ ▄▄   ▄▄█▄▄  ▄▄▄     ▄▄▄▄ 
#   █▀ ▀█    █      █    █▀  ▀  █▀ ▀█  █▀  █    █      █    █▀ ▀█ 
#   █   █    █      █    █      █   █  █   █    █      █    █   █ 
#   ▀█▄▀█  ▄▄█▄▄    ▀▄▄  ▀█▄▄▀  ▀█▄█▀  █   █    █    ▄▄█▄▄  ▀█▄▀█ 
#    ▄  █                                                    ▄  █ 
#     ▀▀                                                      ▀▀  
#                                                                 

[user]
	email = kevin.pageau@momentumtravel.com
	name = Kevin Pageau
[core]
	editor = nvim
[credential]
	helper = cache --timeout=86400
