"  _     _                  _                    
" (_) __| | ___  __ ___   _(_)_ __ ___  _ __ ___ 
" | |/ _` |/ _ \/ _` \ \ / / | '_ ` _ \| '__/ __|
" | | (_| |  __/ (_| |\ V /| | | | | | | | | (__ 
" |_|\__,_|\___|\__,_| \_/ |_|_| |_| |_|_|  \___|
"                                                



" +----------------------------------------------------------------------------+
" | Mappings                                                                   |
" +----------------------------------------------------------------------------+

" +----------------------------------------------+
" |  Normal                                      |
" +----------------------------------------------+
" EOL Semicolon
noremap <C-m> A;<Esc>

" +----------------------------------------------+
" |  Insert                                      |
" +----------------------------------------------+
" jk/kj to leave insert mode
:inoremap jk <esc>
:inoremap kj <esc>
:xnoremap i <esc>

" Auto use the system clipboard
set clipboard=unnamedplus
set clipboard+=ideaput

" Move current line up or down
nnoremap <C-j> :m .+1<CR>==
nnoremap <C-k> :m .-2<CR>==
e		
vnoremap <C-j> :m '>+1<CR>gv=gv
vnoremap <C-k> :m '<-2<CR>gv=gv

" Wrap files at 80 chars
:set textwidth=80
:set hls

