" Key mappings - Normal mode
" ------------------------------------------------------------------------------

" EOL Semicolon
noremap <C-m> A;<Esc>


" Key mappings - Insert mode
" ------------------------------------------------------------------------------

" jk/kj to leave insert mode
:inoremap jk <esc>
:inoremap kj <esc>
:xnoremap i <esc>

" Auto use the system clipboard
set clipboard=unnamedplus

" Move current line up or down
nnoremap <C-j> :m .+1<CR>==
nnoremap <C-k> :m .-2<CR>==

vnoremap <C-j> :m '>+1<CR>gv=gv
vnoremap <C-k> :m '<-2<CR>gv=gv
